<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mortgage Calculator</title>
    <script src="../../userstudy.js"></script>
    <script src="../../cts.js"></script>
    <link rel="stylesheet" href="userstudy.css" />
    <style type="text/cts">
    @gsheet sheet 0Arj8lnBW4_tZdEVXSFVaemVGSXhudGdTVi1OLW5KekE Sheet1;
    </style>
  </head>

  <body>
    <h1>Cities - Cell Mode</h1>

    <p>City Name:  <span>placeholder</span>.</p>

    <p>Is NYC Cold? <input type="checkbox" disabled=true /></p>

    <p>New York Temperature  <input /></p>

    <p>Make this message conditional: <span>Go play in the snow!<span></p>

    <h1>Cities - Table Mode</h1>
    <ul>
      <li>
        <span>City Name</span>
        <span>Temperature</span>
      </li>
    </ul>

    <h1>Add a new City!</h1>
    <form>
      City Name: <input />
      <button>Add</button>
    </form>

  </body>
</html>
