<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mortgage Calculator</title>
    <script src="../../userstudy.js"></script>
    <script src="../../cts.js"></script>
    <link rel="stylesheet" href="../../chat.css" />
    <style type="text/cts">
    @gsheet sheet 0Arj8lnBW4_tZdFhNRmM0TXd4b3RheHJKMmlxbnZMU0E Sheet1;
    </style>
  </head>

  <body>
    <h1>Chat Room</h1>

    <ul>
      <li>
        <span>Toby</span>:
        <span>chat message</span>
      </li>
    </ul>

    <form>
      <input placeholder="name" />
      <input placeholder="message" />
      <button>Say</button>
    </form>

  </body>
</html>
