doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Edward Benson')
    title #{title} - Starter Template for Bootstrap
    != css('styles')
    != js('application')
  body.entry

    main.ctsdoc-small
      .left &nbsp;
      .center
        h1 Cascading Tree Sheets
        h2 CSS for Structure
      .right &nbsp;

    .col-md-3
    .col-md-7
      .row
        block title
      .row
        block content
    .col-md-2

