doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Edward Benson')
    title #{title} - Starter Template for Bootstrap
    != css('styles')
    != js('application')
    block head
  body.entry.cts-doc
    include ../partials/navigation
    main.ctsdoc-entry
      .left &nbsp;
      .center
        h1 Cascading Tree Sheets
        h2 CSS for Structure
      .right &nbsp;

    block content

    .footer(style="height:500px")
