#footer
  .container.text-center
    div
      a(href="http://treesheets.org") Cascading Tree Sheets
      | , created by 
      a(href='http://edwardbenson.com') Ted Benson
      |  in the
      a(href='http://haystack.csail.mit.edu')  Haystack Group
      |  of 
      a(href='http://csail.mit.edu')  MIT CSAIL
    div
      a(href='https://github.com/cts/cts') GitHub Project
      |  · 
      a(href='https://github.com/cts/cts/issues') Issues
      |  · 
      a(href='http://opensource.org/licenses/mit-license.html') MIT License


