ul.docs-nav
  li
    h2 For Developers
    ul
      li
        a(href="/docs/setup") Project Setup
      li
        a(href="/docs/quilt-setup") GSheet Setup
      li
        a(href="/docs/quilt-examples") GSheet Example
  li
    h2 Language Design
    ul
      li
        a(href="/docs/model/html-adapter") HTML Adapter
      li
        a(href="/docs/model/json-adapter") JSON Adapter
      li
        a(href="/docs/model/gsheet-adapter") GSheet Adapter
