extends ../layouts/scratch

block head
  title Google Doc Collaboration API Test

block content
  div.
    <div>
      <p>you can put HTML here.. 
      
      Jade (the template library) is like python -- the indent depth matters!

      Just make sure all your HTML is indented  by 4 spaces, past the .content.
      marker.
    </div>

