extends ../layouts/scratch

block head
  title Google Doc Collaboration API Test
  script(src="/js/scratch/collab-test.js")


  CTS.status.libraryLoaded.then(function() {
    CTS.$('.btn')
  });


block content
  div.
    <div>
      <p>you can put HTML here..

      Jade (the template library) is like python -- the indent depth matters!

      Just make sure all your HTML is indented  by 4 spaces, past the .content.
      marker.
    </div>
