extends ../layouts/scratch

block head
  title CTS Firebase Test
  script(src="https://cdn.firebase.com/v0/firebase.js")

block content
  div.
    <style type="text/cts">
      @firebase fbcts https://blazing-fire-787.firebaseio.com/;
    </style>
    <div data-cts="this :is fbcts | boop;">Boop key value</div>
