extends ../layouts/scratchui

block head
  title CTS Google Doc Tree Test

block content
  textarea(id="cts").
    <div>
      <style type="text/cts">
        @gsheet addresses pvz3p_uE5Kc4n0mjG5Ru4dw;
      </style>
      <ul data-cts="this :are addresses | items;">
        <li data-cts="this :is addresses | .name;">A</li>
      </ul>
    </div>

  textarea(id="cts2").
    <div>
      <style type="text/cts">
        @gsheet addresses pvz3p_uE5Kc4n0mjG5Ru4dw;
      </style>
  
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody data-cts="this :are addresses | items;">
          <tr>
            <td data-cts="this :is addresses | .name">Ted</td>
            <td data-cts="this :is addresses | .address">Address</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  div#sink

  button#go.btn-success.btn Render Sheet

  script.
    CTS.status.libraryLoaded.then(function() {
      CTS.$('#go').click(function() {
        CTS.$('#sink').html(CTS.$('#cts').val());
      });
    });
