extends ../layouts/scratchui

block head
  title Nano Quiz
  script(src='/js/lib/jquery-2.1.0.min.js')
  script(src='/js/lib/bootstrap.min.js')
  style.
    table.student td.info {
      padding-left: 5px;
    }
    table.student td.info span.name {
      font-size: 18px;
      display: block;
    }
    table.student td.info {
      vertical-align: middle;
    }
    table.student td.picture img {
      width: 60px;
      height: 60px;
    }
    table.nanoquiz tr.graderow td span.grade {
      line-height: 40px;
      margin-right: 5px;
      font-size: 18px;
    }
    table.nanoquiz tr.graderow td.q {
      width: 85px;
    }
    table.nanoquiz tr.tophead th {
      border: 0;
    }
    table.nanoquiz tr.tophead {
      border-bottom: 0;
      border: 0;
    }

    table.nanoquiz td.q div.comment-data {
      display: none;
    }

    table.nanoquiz tr.subhead th {
      background-color: #EEFCFF;
      border: 0;
      border-bottom: 1px solid #72818B;
    }

    table.header {
      border-bottom: 4px solid #72818B;
    }

  style(type="text/cts").
    @gsheet sheet 0Arj8lnBW4_tZdDdMZTV2SkVzZF9RNjBTaTQxajBHMEE;

    tbody#grades            :are      sheet | Nanoquiz!items { prefix: 1 };
    span.name               :is       sheet | Nanoquiz!.name ;
    span.email              :is       sheet | Nanoquiz!.email ;
    td.q1 span.answer       :is       sheet | Nanoquiz!.q1 ;
    td.q2 span.answer       :is       sheet | Nanoquiz!.q2 ;
    td.q3 span.answer       :is       sheet | Nanoquiz!.q3 ;
    td.q4 span.answer       :is       sheet | Nanoquiz!.q4 ;
    td.q5 span.answer       :is       sheet | Nanoquiz!.q5 ;

    td.q1 span.comment      :if-exist sheet | Nanoquiz!.q1comment;
    td.q2 span.comment      :if-exist sheet | Nanoquiz!.q2comment;
    td.q3 span.comment      :if-exist sheet | Nanoquiz!.q3comment;
    td.q4 span.comment      :if-exist sheet | Nanoquiz!.q4comment;
    td.q5 span.comment      :if-exist sheet | Nanoquiz!.q5comment;

    td.q1 div.comment-data  :is       sheet | Nanoquiz!.q1comment;
    td.q2 div.comment-data  :is       sheet | Nanoquiz!.q2comment;
    td.q3 div.comment-data  :is       sheet | Nanoquiz!.q3comment;
    td.q4 div.comment-data  :is       sheet | Nanoquiz!.q4comment;
    td.q5 div.comment-data  :is       sheet | Nanoquiz!.q5comment;

    span.totalpoints        :is       sheet | Nanoquiz!.totalpoints ;

  script.
    CTS.status.libraryLoaded.then(function() {
      CTS.$(function() {
        CTS.$('body').on('click', function(e) {
          $t = CTS.$(e.target);
          if ($t.is('span.comment img')) {
            alert("Yes!");
            var $commentData = $t.parent().parent().find('.comment-data');
            alert($commentData.html());
          }
        });

      });
    });


block content
  .content
    div.row
      div.col-md-9.col-md-offset-1
        table.header(width="100%")
          tr
            td
              h1 Nanoquiz 7
            td
              div.btn-group.pull-right
                button(type="button").btn All
                button(type="button").btn.btn-default Perfect
                button(type="button").btn.btn-default Imperfect
                button(type="button").btn.btn-default As
                button(type="button").btn.btn-default Bs
                button(type="button").btn.btn-default Cs and Below

        table.table.nanoquiz
          tr.tophead
            th
            th Q1
            th Q2
            th Q3
            th Q4
            th Q5
            th Bonus
            th Final
          tr.subhead
            th(style="text-align: right") Answer Key:
            th A
            th B
            th C
            th D
            th E
            th
            th
          tbody#grades
            tr.graderow
              td
                table.student
                  tr
                    td.picture
                      img(src="http://gravatar.com/avatar/e6ec6e853bf22a2f3ad69ca56564b093?s=142")
                    td.info
                      span.name Ted Benson
                      span.email eob@mit.edu
              td.q.q1
                span.answer A
                span.comment
                  img(src="/img/speech-bubble-2.png")
                div.comment-data
              td.q.q2
                span.answer B
                span.comment
                  img(src="/img/speech-bubble-2.png")
                div.comment-data
              td.q.q3
                span.answer C
                span.comment
                  img(src="/img/speech-bubble-2.png")
                div.comment-data
              td.q.q4
                span.answer D
                span.comment
                  img(src="/img/speech-bubble-2.png")
                div.comment-data
              td.q.q5
                span.answer E
                span.comment
                  img(src="/img/speech-bubble-2.png")
                div.comment-data
              td.totalpoints
                span.grade 0
              td
                span.grade 80 B
                br
                a Add Comment
