extends ../layouts/scratch

block head
  title CTS HTML-to-HTML Examples

block content
  .content 
     .row
       .col-md-4.col-md-offset-4
         h1(style="text-align: center;") Simple <b>:is</b> Relation
     .row
       .col-md-2.col-md-offset-3
         h2 Source
         span#source1 Source Value
       .col-md-2
       .col-md-5
         h2 Destination
         span(data-cts="this :is #source1;") Should become source value!

     .row
       .col-md-4.col-md-offset-4
         h1(style="text-align: center;") Simple <b>:are</b> Relation
     .row
       .col-md-2.col-md-offset-3
         h2 Source
         ul#container2
           li A
           li B
           li C
           li D
       .col-md-2
       .col-md-5
         h2 Destination
         ul#dest2(data-cts="this :are #container2;")
           li(data-cts="this :is #container2 li;") Should become A, B, C, D

