extends ../layouts/basic

block title
  h1 CTS Scratch Space
  p.large To help test and debug code.

block content

  h2 Available Scratches

  p Warning: Scratches are used as a space to test out various development ideas. Not all will be functional all the time. For information, see <a href="/documentation">the documentation</a>.

  ul
    each scratch in scratches
      li
        a(href="/scratch/" + scratch + "?autoload=false")=scratch
