extends ../layouts/basic

block title
  h1 CTS Scratch Space
  p.large To help test and debug code.
  
block content
  
  h2 Available Scratches
  ul
    each scratch in scratches
      li 
        a(href="/cts/scratch/" + scratch + "?autoload=false")=scratch


