<head>
  <title>Student Loan Calculator</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Loan calculator<h1>
          <p>This will calculate your student loan payments<p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form role="form">
          <div class="form-group">
            <label for="loanBalance">Loan Balance</label>
            <input type="text" class="form-control" id="loanBalance" placeholder="$100.00">
          </div>
          <div class="form-group">
            <label for="interestRate">Interest Rate</label>
            <input type="text" class="form-control" id="interestRate" placeholder="6.8%">
          </div>
          <div class="form-group">
            <label for="loanFees">Loan Fees</label>
            <input type="text" class="form-control" id="loanFees" placeholder="0.0%">
          </div>
          <div class="form-group">
            <label for="loanTerm">Loan Term (Years)</label>
            <input type="text" class="form-control" id="loanTerm" placeholder="10">
          </div>
          <div class="form-group">
            <label for="minimum">Minimum Payment</label>
            <input type="text" class="form-control" id="minimum" placeholder="$50">
          </div>
          <div class="form-group">
            <label>Enrollment Status</label>
            <select class="form-control" id="enrollment">
              <option>Not Specified</option>
              <option>Still in School</option>
              <option>Graduating Soon</option>
              <option>In Repayment</option>
            </select>
          </div>
          <div class="form-group">
            <label>Degree Program</label>
            <select class="form-control" id="degree">
              <option>Not Specified</option>
              <option>Associate's Degree</option>
              <option>Bachelor's Degree</option>
              <option>Master's Degree</option>
              <option>Ph. D.</option>
              <option>Lawyer (LLB or JD)</option>
              <option>Doctor (M.D.)</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Calculate</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Result: <span id='result'></span></h2>
        <div style="margin-top:200px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <iframe style="height:500px; width:100%;" src="https://docs.google.com/spreadsheet/ccc?key=0AiBlqYNI6IbndGw4bUc2Z2xTMGNpd3VTZ2dWVl9UUmc&usp=sharing"></iframe>
      </div>
    </div>
  </div>
</body>
