extends ../layouts/scratchui

block title
  h1 CTS Proxy Browser

block content
  div.row(style="padding-left: 30px; padding-right: 30px;")
    table(width="100%")
      tr
        td(width="50%")#browser1
        td(width="50%")#browser2
      tr
        td(colspan=2)
          Hi

  script.
    CTS.status.libraryLoaded.then(function() {
      window.pb1 = new CTS.UI.ProxyBrowser(CTS.$, CTS.Q, CTS.$('#browser1'));
      window.pb2 = new CTS.UI.ProxyBrowser(CTS.$, CTS.Q, CTS.$('#browser2'));
    });
