extends ../layouts/scratchuiauto

block head
  style.
    textarea.cts {
      width: 90%;
      border: 3px solid #333;
      margin: 10px;
      height: 80px;
    }
    #browser1 {
      position: relative;
      height: 100%;
      margin-right: 5px;
    }
    #browser2 {
      position: relative;
      height: 100%;
      margin-left: 5px;
    }

    .full {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      height: calc(100% - 130px);
    }

block title
  h1 CTS Proxy Browser

block content
  div.row.full
    table(width="100%", height="100%")
      tr
        td(width="50%")
          div#browser1
        td(width="50%")
          div#browser2
      tr(style="height: 100px")
        td
          textarea.cts#cts1
          button#cts1udpate Update
        td Foo

  script.
    CTS.status.libraryLoaded.then(function() {
      window.pb1 = new CTS.UI.ProxyBrowser(CTS.$, CTS.Q, CTS.$('#browser1'));
      window.pb2 = new CTS.UI.SSheetBrowser(CTS.$, CTS.Q, CTS.$('#browser2'), false);
      CTS.$('#cts1udpate').on('click', function() {
        var cts = CTS.$('#cts1').val();

        var $cts = CTS.$('<style type="text/cts">' + cts + '</style>');
        window.pb1.document().getElementsByTagName('head')[0].appendChild($cts[0]);

        // Refresh
        var s = window.pb1.document().createElement('script');
        s.setAttribute('src', CTS.UI.URLs.Scripts.cts);
        s.setAttribute('type', 'text/javascript');
        window.pb1.document().getElementsByTagName('head')[0].appendChild(s);
      });
    });
