extends ../layouts/scratchui

block head
  title Mortgage Calculator
  script(src='/js/lib/jquery-2.1.0.min.js')
  script(src='/js/lib/bootstrap.min.js')
  style.

    table.nanoquiz td.q div.comment-data {
      display: none;
    }

    table.nanoquiz tr.subhead th {
      background-color: #EEFCFF;
      border: 0;
      border-bottom: 1px solid #72818B;
    }

    table.header {
      border-bottom: 4px solid #72818B;
    }

  style(type="text/cts").
    @gsheet sheet 0Arj8lnBW4_tZdDdMZTV2SkVzZF9RNjBTaTQxajBHMEE Mortgage;

    #price         :is       sheet | C3;
    #downpmt       :is       sheet | C4;
    #rate          :is       sheet | C7;
    #years         :is       sheet | C8;
    #start         :is       sheet | C9;

    #monthlyPmt    :is       sheet | H3;
    #numberPmts    :is       sheet | H4;
    #totalInterest :is       sheet | H5;

block content
  .content
    .row
      div.col-md-9.col-md-offset-1
        h1 Mortgage Calculator
    .row
      .col-sm-offset-1.col-md-4
        h2 Your House
        form.container.form-horizontal
          .form-group
            label.col-sm-2.control-label Purchase Price
            .col-sm-2
              input.form-control#price
          .form-group
            label.col-sm-2.control-label Down Payment Pct
            .col-sm-2
              input.form-control#downpmt
          .form-group
            label.col-sm-2.control-label Interest Rate
            .col-sm-2
              input.form-control#rate
          .form-group
            label.col-sm-2.control-label Duration (years)
            .col-sm-2
              input.form-control#years
          .form-group
            label.col-sm-2.control-label Stard Date
            .col-sm-2
              input.form-control#start
      .col-sm-offset-1.col-md-4
        h2 Payment Schedule
        form.container.form-horizontal
          .form-group
            .col-sm-2.control-label Monthly Payment
            .col-sm-2.control-label#monthlyPmt Foo
          .form-group
            .col-sm-2.control-label Number Payments
            .col-sm-2.control-label#numberPmts Foo
          .form-group
            .col-sm-2.control-label Total Interest
            .col-sm-2.control-label#totalInterest Foo


  script.
    CTS.status.libraryLoaded.then(function() {
      CTS.$(function() {
        CTS.$('body').on('click', function(e) {
          $t = CTS.$(e.target);
          if ($t.is('span.comment img')) {
            alert("Yes!");
            var $commentData = $t.parent().parent().find('.comment-data');
            alert($commentData.html());
          }
        });

      });
    });
