extends ../layouts/scratch

block head
  title CTS HTML-to-HTML Examples
  style.
    h3 {
      text-align: center;
    }

    td.title {
      background-color: #ccc;
      text-align: center;
    }

block content
  .content
    div.row
      div.col-md-9.col-md-offset-1
        table.table
          tr
            th
              h2 Source
            th
              h2 Dest
            th
              h2 Should Be
          tr
            td(colspan="3").title
              h3 <b>:is</b>
          tr
            td
              span#source1 Source Value
            td
              span(data-cts="this :is #source1;") Should become source value!
            td
              span Source Value
          tr
            td(colspan="3").title
              h3 <b>:if-exist</b>
          tr
            td
              span#ohyeah Source Value
            td
              span(data-cts="this :if-exist #ohyeah;") HERE
              span(data-cts="this :if-exist #nonexistant;") ..NOTHERE
            td
              span HERE
          tr
            td(colspan="3").title
              h3 <b>:if-nexist</b>
          tr
            td
              span#ohyeah2 Source Value
            td
              span(data-cts="this :if-nexist #ohyeah2;") HERE
              span(data-cts="this :if-nexist #nonexistant;") ..NOTHERE
            td
              span ..NOTHERE
          tr
            td(colspan="3").title
              h3 Simple <b>:are</b> Relation
          tr
            td
              ul#container2
                li A
                li B
                li C
                li D
            td
              ul#dest2(data-cts="this :are #container2;")
                li(data-cts="this :is #container2 li;") Should become A, B, C, D
            td
              ul
                li A
                li B
                li C
                li D
          tr
            td(colspan="3").title
              h3 <b>:graft</b>
          tr
            td
              div#template
                button.btn.btn-info TEMPLATE
            td
              p
                div(data-cts="this :graft #template;")
                  span(data-cts="#template button :is this;") Click Me!
              p
                div(data-cts="this :graft #template;")
                  span(data-cts="#template button :is this;") Click Me, Too!
            td
              p
                div
                  button.btn.btn-info Click Me!
              p
                div
                  button.btn.btn-info Click Me, Too!
          tr
            td(colspan="3" style="background-color: #ccc; text-align: center;")
              h3 Combination of the above three
          tr
            td
            td
              ul#dest2(data-cts="this :are #container2;")
                li.foo(data-cts="this :graft #template;")
                  span(data-cts="this :is #container2 li; #template button :is this;") Hi
            td
              ul
                li
                  span
                    button.btn.btn-info A
                li
                  span
                    button.btn.btn-info B
                li
                  span
                    button.btn.btn-info C
                li
                  span
                    button.btn.btn-info D
