extends layouts/entry.jade

block head
  style.
    .people {
      font-size: 18px;
    }

    ul.publications {

    }

    ul.publications li {
      margin-top: 10px;

    }

    a.paper {

    }

    span.paper-details {
      font-size: 14px;
    }

block content
  .row(style="height: 30px")
  .row.people
    .col-md-3
    .col-md-6(style="font-size: 18px;")

      h2 People

      p
      | <a href="http://www.edwardbenson.com">Ted Benson</a> created CTS as part of a Ph.D.
      | thesis exploring declarative approaches to web application architecture.

      p
      | <a href="http://people.csail.mit.edu/karger">David Karger</a> is the
      | faculty advisor of the project.

      p
      | We've been helped by some wonderful undergraduate researchers,
      | including (in alphabetical order) Jessica Andersen, Adisa Kruayatidee,
      | Sarah Scodel, Oliver Song, and John Wang.

      h2 Papers

      p Here are some papers we've published about CTS.
      ul.publications
        li
          a.paper(href="http://edwardbenson.com/papers/www2013-cascading-tree-sheets.pdf") Cascading Tree Sheets and Recombinant HTML: <br />Better Encapsulation and Retargeting of Web Content
          br
          span.paper-details at WWW 2014. Winner of best student paper runner-up.
        li
          a.paper(href="http://edwardbenson.com/papers/2013-chi-src-reducing-cost-of-web-edits.pdf") Quantifying and Reducing the Cost of Web Edits
          br
          span.paper-details at CHI 2013 as a Student Research Competition paper (non-archival).
        li
          a.paper(href="http://edwardbenson.com/papers/www2010-synckit.pdf") SyncKit: A Persistent Client-Side Database Caching Toolkit for Data Intensive Websites
          br
          span.paper-details at WWW 2010. (Not directly related to CTS, but a precursor project.)
