extends layouts/entry

block content
  .row(style="height: 30px")
  .row
    .col-md-3
    .col-md-6
      img(src="/img/doc/cts-funnypic.png")
    .col-md-3
  .row
    .col-md-3
    .col-md-1
      a(href="/widgets") Widgets
    .col-md-1
      a(href="/dscrape") DScrape
    .col-md-1
      a(href="/scratch") Scratch
    .col-md-1 Themes
    .col-md-1 Jekyll
    .col-md-1 Docs
    .col-md-3
