extends ../layouts/popup-layout

block content
  div.popup
    h2 Google Login
    .col-sm-8.col-sm-offset-2
      p Quilt integrates with your Google Documents.
      a.btn.btn-google-plus(href='/auth/google-popup')
