extends ../layouts/popup-layout

block content
  div.popup
    h2 Sign In to Quilt
    .col-sm-8.col-sm-offset-2
      include ../partials/flash
      form(method='POST')
        input(type='hidden', name='_csrf', value=token)
        .form-group
          label.control-label(for='email') Email
          input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          label.control-label(for='password') Password
          input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          button.btn.btn-primary(type='submit')
            i.fa.fa-unlock-alt
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      .col-sm-8.col-sm-offset-2(style="text-align: center;")
          legend(style="text-align: center;") Or...
          a.btn.btn-success(href='/signup-popup') Sign Up
