extends ../layouts/basic

block title
  h1 Documentation

block content
  h2 Project Setup
  ul
    li
      a(href="/documentation/setup") Installation and Configuration
    li
      a(href="/documentation/quilt-setup") Configuring Quilt (The Google Spreadsheets extension to CTS)
