.cts-ui .cts-ui-tray .cts-ui-theminator {
  /*height:700px;*/
  border-left: none;
  height: 100%;
  display: table;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details-list li {
  float: left;
}
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption {
  position: relative;
  float: left;
  overflow: hidden;
}
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption img {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption figcaption {
  position: absolute;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 1rem 0 1rem 0;
}
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption-2 figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption-2:hover figcaption,
.cts-ui .cts-ui-tray .cts-ui-effeckt-caption-2:active figcaption {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cts-ui .cts-ui-tray .cts-ui-header {
  height: 66px;
  display: table-row;
}
.cts-ui .cts-ui-tray .cts-ui-header-content {
  height: 66px;
  display: table-cell;
}
.cts-ui .cts-ui-tray .cts-ui-search-container {
  padding: 10px;
}
.cts-ui .cts-ui-tray .cts-ui-favorites-icon-container {
  padding: 10px;
  padding-top: 12px;
}
.cts-ui .cts-ui-tray .cts-ui-search-query {
  width: 75%;
}
.cts-ui .cts-ui-tray .cts-ui-form-search {
  padding-bottom: 0px;
}
.cts-ui .cts-ui-tray .cts-ui-favorites-icon {
  width: auto;
  height: 25px;
}
.cts-ui .cts-ui-tray .cts-ui-favorites-icon:hover {
  cursor: hand;
  cursor: pointer;
}
.cts-ui .cts-ui-tray .cts-ui-filter-tray {
  display: table-row;
}
.cts-ui .cts-ui-tray .cts-ui-filter-expand-container {
  border-bottom: solid black 1px;
  padding: 0px 10px 5px 10px;
}
.cts-ui .cts-ui-tray .cts-ui-filter-container {
  height: 0px;
  padding: 0px 10px 0px 10px;
}
.cts-ui .cts-ui-tray .cts-ui-filter-options {
  padding-left: 7%;
}
.cts-ui .cts-ui-tray .cts-ui-subheader {
  display: table-row;
}
.cts-ui .cts-ui-tray .cts-ui-top-container {
  display: table-cell;
  text-align: top;
}
.cts-ui .cts-ui-tray .cts-ui-form-search {
  margin-bottom: 0px;
}
.cts-ui .cts-ui-tray .cts-ui-templates-tray {
  text-align: center;
  padding-top: 10px;
  /*overflow: auto;*/
  height: 100%;
  display: table-row;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom {
  display: inline-block;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-top: 7px;
  margin-bottom: 3px;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li {
  display: inline;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li.cts-ui-disabled > a {
  color: #999999;
  cursor: default;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li.cts-ui-disabled > a:hover {
  background-color: transparent;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li.cts-ui-active > a {
  background-color: #657208;
  color: #FFFFFF;
  cursor: default;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li.cts-ui-active > a:hover {
  background-color: #657208;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li > a:hover {
  background-color: #B9D310;
}
.cts-ui .cts-ui-tray .cts-ui-pager-custom > li > a {
  color: #000000;
  padding: 3px 5px;
  cursor: pointer;
  cursor: hand;
}
.cts-ui .cts-ui-tray .cts-ui-templates-container {
  padding-top: 10px;
  overflow-y: auto;
  height: calc(70%);
  /*height:518px;*/
  display: block;
}
.cts-ui .cts-ui-tray .cts-ui-screenshot-thumbnail {
  position: relative;
  display: table;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.cts-ui .cts-ui-tray .cts-ui-screenshot-options {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}
.cts-ui .cts-ui-tray .cts-ui-add-to-favorites {
  position: absolute;
  left: 89%;
  top: 0;
  cursor: hand;
  cursor: pointer;
}
.cts-ui .cts-ui-tray .cts-ui-add-to-favorites > img {
  width: 27px;
  height: 25px;
}
.cts-ui .cts-ui-tray .cts-ui-screenshot {
  width: 100%;
  height: auto;
}
.cts-ui .cts-ui-tray .cts-ui-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.cts-ui .cts-ui-tray .cts-ui-screenshot-thumbnail:hover .cts-ui-tint:before {
  background: rgba(185, 211, 16, 0.5);
}
.cts-ui .cts-ui-tray .cts-ui-screenshot-thumbnail:hover .cts-ui-tint.cts-ui-active:before,
.cts-ui .cts-ui-tray .cts-ui-tint.cts-ui-active:before {
  background: rgba(101, 114, 8, 0.5);
}
.cts-ui .cts-ui-tray a.cts-ui-filter-expand {
  color: #000000;
  cursor: pointer;
  cursor: hand;
}
.cts-ui .cts-ui-tray .cts-ui-tag-types-list {
  list-style-type: none;
  margin: 0px;
}
.cts-ui .cts-ui-tray .cts-ui-tag-types-list > li.cts-ui-active > a {
  background-color: #657208;
  color: #FFFFFF;
  cursor: hand;
  cursor: pointer;
}
.cts-ui .cts-ui-tray .cts-ui-tag-types-list > li.cts-ui-active > a:hover {
  background-color: #657208;
}
.cts-ui .cts-ui-tray .cts-ui-tag-types-list > li > a:hover {
  background-color: #B9D310;
}
.cts-ui .cts-ui-tray .cts-ui-tag-types-list > li > a {
  color: #000000;
  cursor: pointer;
  cursor: hand;
  padding: 2px 3px;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details {
  width: 194px;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details-list {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details-list > li {
  display: inline;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details-list > li label.cts-ui-checkbox {
  padding-left: 0px;
  padding-right: 5px;
  display: inline;
}
.cts-ui .cts-ui-tray .cts-ui-tag-details-list > li label.cts-ui-checkbox > input[type=checkbox] {
  float: none;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 5px;
}
.cts-ui .cts-ui-tray span.cts-ui-theme-title {
  cursor: default;
  font-size: 20px;
  padding-left: 5px;
  line-height: 25px;
}
.cts-ui .cts-ui-tray a:hover {
  color: #657208;
  text-decoration: none;
}
.cts-ui .cts-ui-tray a {
  color: #B9D310;
}
.cts-ui .cts-ui-tray input[type=text]:focus {
  border-color: #B9D310;
  -moz-box-shadow: 0px 0px 6px #B9D310;
  -webkit-box-shadow: 0px 0px 6px #B9D310;
  box-shadow: 0px 0px 6px #B9D310;
}
