extends ../layouts/basic

block title
  h1 CTS Snippets

block content

  h2 Available Snippets <a href="/snippet/new" class="btn btn-sm btn-success">Create New</button>
  ul
    each snippet in snippets
      li
        a(href="/snippet/" + snippet.id)=snippet.name
