doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Edward Benson')
    title #{title} - Cascading Tree Sheets
    link(rel="stylesheet", href="/css/gen/styles.css")
  body.cts.cts-doc
    include ../partials/navigation
    main.ctsdoc-small
      .left &nbsp;
      .center
        h1 Cascading Tree Sheets
        h2 CSS for Structure
      .right &nbsp;
    .content-with-sidebar.row
      .col-md-3.col-sm-3.col-lg-3.highlightsidebar
        block sidebar
      .col-md-8.col-sm-8.col-lg-8.maincol
        .row.titlecontent
          block title
        .row.maincontent
          block content
      .col-md-2.col-sm-2.col-lg-2.highlightsidebar

    .footer(style="height:50px")
