doctype html
html
  head
    meta(charset='utf-8')
    != css('styles')
    each source in sources
      script(src='/' + source)
    each source in uisources
      script(src='/' + source)
    script.
      CTS.status.libraryLoaded.then(function() {
        CTS.engine = new CTS.Engine();
        CTS.engine.boot();
      });

    block head

  body.cts-doc.cts
    include ../partials/navigation
    main.ctsdoc-small
      .left &nbsp;
      .center
        h1 Cascading Tree Sheets
        h2 CSS for Structure
      .right &nbsp;

    block content
