#cts-ui-tray {
  /* 
   * This has the CTS annotation which contains
   * the widget.
   */
}
#cts-ui-tray .cts-ui-editor-widget {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100px;
  /*
     * This is the actual widget.
     */
}
#cts-ui-tray .cts-ui-editor-widget .cts-ui-editor {
  text-align: center;
}
#cts-ui-tray .cts-ui-editor-widget .cts-ui-editor h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
  font-color: black;
  text-align: center;
  border-bottom: 3px solid #76BCE2;
  color: #eee;
}
#cts-ui-tray .cts-ui-editor-widget .cts-ui-editor a.cts-editor-button {
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #eee;
  font-size: 11px;
  margin-bottom: 10px;
}
#cts-ui-tray .cts-ui-editor-widget .cts-ui-editor a.highlighted {
  color: red;
}
#cts-ui-tray .cts-ui-editor-widget .cts-ui-editor a.cts-editor-button i {
  font-size: 24px;
  display: block;
}
