<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mortgage Calculator</title>
    <script src="../../userstudy.js"></script>
    <script src="../../cts.js"></script>
    <link rel="stylesheet" href="../../chat.css" />
    <style type="text/cts">
    @gsheet sheet 0Arj8lnBW4_tZdHZOVWkzZDJNaXRXZGxBZ3BaWE9KbkE Sheet1;
    </style>
  </head>

  <body>
    <h1>Math Wizard</h1>

    <div class="inputs">
      X: <input />
      Y: <input />
    </div>

    <ul>
      <li>X + Y is <span class="sum"></span></li>
      <li>X - Y is <span class="sum"></span></li>
      <li>X * Y is <span class="sum"></span></li>
      <li>X / Y is <span class="sum"></span></li>
  </body>
</html>
